.container {
  padding: 10px;
}

.container__item {
  border-bottom : 1px solid aquamarine;
  padding       : 10px;
  display       : flex;
  align-items   : center;
  flex-direction: column;
}

.container__item__description {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  margin        : 0;
}

.container__item__data {
  margin: 1px
}

.container__total__title {
  font-size: 15px;
  color    : #04c8c9;
}

.container__buttons__add {
  margin : 20px;
  display: inline-flex;
}

.buttons__comprar {
  padding         : 10px 30px 10px 30px;
  margin          : 10px;
  background-color: #04c8c9;
  border-radius   : 6px;
  color           : white;
  border-color    : #04c8c9;

}
